/*for mobile devices (portrait)*/


div{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


.card-container{
   display:flex;
   flex-direction: column;
   height: 100vh;
   align-items: center;
   justify-content: center;
   background-color: hsl(30, 38%, 92%);
   padding: 50px;
   
   
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;

} 

.product-img-container{
    
    width: 95%;
    height: 25%;
   
}


.product-description-container{
    background-color:  hsl(0, 0%, 100%);
    width:95%;
    height:75%;
    border: 4px hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:5px ;
    
 
}

.picture-container>img{
    width:100%;
    height:100%;
    border: 4px hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}

.add-btn{
    width: 150px;
    height: 30px;
    background-color: rgba(87, 179, 87, 0.877);
    align-self: center;
    border: 2px ;
    border-radius: 10px;

   
}


#product-description-text{
    color:rgb(105, 103, 103);
    padding-bottom:20px ;
    padding-left:20px ;
}

.perfume-text{
    letter-spacing: 5px;
    color:rgb(105, 103, 103)
}

#prices{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#prices>#original{
    text-decoration: line-through;
    padding-top: 10px;
}

#prices>#discount{
   font-size: 30px;
    font-weight: 700;
    color: rgb(15, 158, 34);
}


@media screen and (min-width:500px) {

    .card{
       flex-direction:row;
       height:70%;
       width:100%;
    }
    
   
    .product-img-container{
   
       width: 80%;
       height: 100%;
      
       
   }

   .product-description-container{
       width: 100%;
       height:100%;
       border-top-right-radius: 15px;
   }


   .picture-container>img{
       
       border-bottom-left-radius: 15px;
       border-top-right-radius: 0;
      
   }

}





/*desktop*/
@media screen and (min-width:720px) and (orientation:landscape) {

     .card{
        flex-direction:row;
        height:100%;
        width:100%;
     }
     
    
     .product-img-container{
    
        width: 100%;
        height:100%;
       
        
    }

    .product-description-container{
        width: 100%;
        height:100%;
        border-top-right-radius: 15px;
    }


    .picture-container>img{
        
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
       
    }



}