div{
    box-sizing: border-box;
   margin: 0;
}


.card-container{
    padding-top: 50px;
    background-color: rgb(11, 2, 19);
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    
    
}


.card{
   

    width:140%;
    height:75%;
    display:flex;
    flex-direction: column;
}

.card>div{
height:100%;
width:54%; 
  
}


.product-img{

border:3px hidden;
border-radius: 5px 0px 0px 5px;

}


.product-description{
background-color: rgb(248, 241, 248);
border:3px hidden;
border-radius: 0px 5px 5px 0px;
font-size: 12px;
color:rgb(85, 83, 83);
display: flex;
flex-direction: column;
justify-content: space-around;
padding-left:5px;
padding-top:1px ;

}

.product-img > picture >img{
    width: 100%;
    
}

.add-btn{
    color: white;
    font-weight: bold;
    background-color: rgb(12, 139, 31);
    border-radius: 10px;
    height:45px;
    width: 150px;
    align-self: center;
    justify-self:center;
}

.prices{
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom:10px ;
    justify-content: space-around;
}

.discount-price{
    color: green;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium';
}

.original-price{
    text-decoration-line: line-through;
    padding-top:5px ;
}





@media screen and (min-width:250px){

    .card-container{

        padding-left:120px;
        padding-bottom: 200px;
    } 


    .card{
   

        width:140%;
        height:60%;
        display:flex;
        flex-direction: column;
    }
    
}


/*desktop and larger devices*/
@media screen and (min-width:720px){

    
    
    .card{
   

        width:61.25%;
        height:50%;
        display:flex;
        flex-direction: row;
    }
    
    .product-description{
        padding-left: 15px;
        padding-right: 20px;
        justify-content: space-around;
    }


.card>div{
    height: 120%;
    width: 45%; 
      
    }
    
.add-btn{
    width: 150px;
}


}